[core]
	editor = nvim
	pager = delta

{{ if eq .managed_by "wealthsimple" -}}
# wealthsimple specific settings

[gpg]
  format = ssh

[commit]
  gpgSign = true

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  allowedSignersFile = ~/.config/git/allowed_signers

[user]
  name = Jakob Külzer
  email = jakob.kuelzer@wealthsimple.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAxqBf9x/fikAFKSmej6H43RrS4T6VJXyi/82gBG+l4P

[includeIf "gitdir:~/src/github.com/ilikeorangutans/"]
  path = ~/src/github.com/ilikeorangutans/.gitconfig

[includeIf "gitdir:~/src/git.sr.ht/"]
  path = ~/src/git.sr.ht/.gitconfig

{{ else -}}

[user]
  name = Jakob Külzer
  email = jakob.kuelzer@gmail.com

{{ end -}}

[includeIf "gitdir:~/.local/share/chezmoi/"]
  path = ~/.local/share/chezmoi/.gitconfig

[alias]
  br = branch
  brage = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
  ci = commit
  civ = commit --verbose
  co = checkout
  cp = cherry-pick
  d = diff
  gn = grep -n
  gni = grep -ni
  l = log
  ln = log --name-status
  lp = log -p
  pp = pull --prune
  rb = rebase
  st = status
  sw = switch
  wip = commit -m "wip"

[push]
	default = nothing
    autoSetupRemote = true

[pager]
  diff = delta --color-only

[interactive]
    diffFilter = delta --color-only

[oh-my-zsh]
  hide-dirty=1

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[merge]
    conflictstyle = zdiff3

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[column]
  ui = auto

[branch]
  sort = -committerdate

[init]
  defaultBranch = main

[diff]
  algorithm = histogram
  renames = true
  mnemonicPrefix = true

[rerere]
  enabled = true
  autoupdate = true
